*{
    margin: 0;
    padding: 0;
}


header{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtlMpIjR8W1bturIJnGWtLRayT4CfJPG34cw&s");
    height: 50px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
    background-size: cover;
}

.titulo{
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1sVNgzVV1opBIYGHWDII1mzdK3VKy_6O43OuBmEBIKAxa-S5BclOOfdu4JgnOGbhOgy0&usqp=CAUfg");
    background-size: cover;
}