*{
    margin: 0;
    padding: 0;
}


header{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJjhQok-v3yw_a7X42gUnBABQzebrGVdBM_A&s");
    height: 50px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
    background-size: cover;
}

.titulo{
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2017/09/08/15/42/abstract-2729141_1280.png");
    background-size: cover;
}